.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

label{
  font-size: 1rem;

}


.yellow-text{
  color:  #f0bc3cff;
}
.table td{
text-align: center;
}
input{
  text-align: center;
}

.table th{
  border-top: none;
}

form{
  padding: 2rem 10rem;
}


.margin-top{
  margin-top: 70px;

}

.App-link {
  color: #61dafb;
}

.btn.coh-yellow{
  background-color: #f0bc3cff;
}

.btn{
  line-height: 40px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-light{
  background-color: #f0bc3cff !important;
}

.nav-tabs .nav-link{
padding: .1rem 3rem;}

.nav-bar{
  padding: 0;
}

nav ul a:hover{
  background-color: inherit;
}

.navbar-brand{
line-height: 60px;
}

.container{
  max-width: 100%;
  padding: 0;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  opacity: .8;
  color: #fff;
}
.navbar-text{
  padding-top: 24px;
}

.navbar-light .navbar-nav .nav-link{
  color: #fff;
  font-weight: bold;
}


.yellow-highlight{
  background-color: #f0bc3cff !important;
height: 3rem;
}

.tag-line{
margin: 5% 40%;
padding-bottom: 60px;
}
.btn:hover, .btn-large:hover, btn-small:hover{
background-color: #f0bc3cff  !important;
}
.nav-tabs .nav-link:hover{
  border: none;
  background-color: lightgrey;
}
.nav-tabs a:hover{
  color: white;
}

a{
  color: #f0bc3cff;
}

a:hover{
  font-weight: bold;
  color: #f0bc3cff;
  text-decoration: none;
}

input:focus {  border-bottom: 1px solid #f0bc3cff !important;
  -webkit-box-shadow: 0 1px 0 0 #f0bc3cff !important;
  box-shadow: 0 1px 0 0 #f0bc3cff !important;
}

@media only screen and (max-width: 700px) {
.nav-link{ padding: none;}
.tag-line{
margin: 5% 20%;
padding-bottom: 60px;
}
nav{
  line-height: 18px;
  height: 300px;
}
.navbar{
  display: block;
}

}
